.options {
    font-size: 3vw;
    font-style:oblique;
    font-weight:400;
}

.options li{
    list-style:outside url('../../../public/images/Vieira/mais-list.png');
    margin: 10px;
    cursor: pointer;
    
}
